.landing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing__content {
	padding: 1rem;
}

.landing__content > * {
	margin-bottom: 2rem;
}

.landing-page__inline-anchor {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
